{% extends "blog/HTML/structuration.html" %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	 {% load static %}
	<link rel="stylesheet" href="{%static 'blog/CSS/Style.css'%}">
	{% block title %}<title>Sign up | portail </title>{% endblock %}
</head>
<body>
	 {% block nav %}
	 		<p><h1 class="h1_center">Formulaire d'inscription</h1></p>

			<div class="recadrage">
				<form class="formulaire text-center" method="post" id="la_forme" action="http://www.facebook.com" target="_blank" >

			<legend class="legend">Enregistrement</legend>
			<p>Nom <input  type="text" name="username" id="username" placeholder="Entrez votre nom" required="" autofocus></p>
			<p>Prenom <input type="text" name="firstname" placeholder="Entrez votre Prenom"></p>
			<p>Adresse E-mail <input type="email" name="mail" placeholder="E-mail" required=""></p>
			<p>Mot de passe <input type="password" name="password" placeholder="mot de passe" maxlength="20" required=""></p>
			<p>Votre Sexe <input type="radio" name="choix"> masculin  <input type="radio" name="choix"> feminin</p>



			<p> <input class="valide" type="reset" value="Tout recommencer" title="ca va tout effacer"></p>
			<p> <input class="valide" type="submit" value="S'enregistrer" title="S'enregistrer"></p>
		</fieldset>

	</form>
			</div>

	 {% endblock %}



</body>
</html>